*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background: #333333;
    font-family: Microsoft Yahei;
}
@media (max-width: 1200px) and (max-height: 1400px){
	#container{
		width: 90%;
		margin: 0 auto;
		color: white;
	}
	.name{
		font-size: 2rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-weight: 400;
		text-align: center;
	}
	#backToList{
		display: none;
	}
	.content{
		font-size: 1.1rem;
		text-indent: 2rem;
		margin-bottom: 1rem;
	}
}
@media (min-width: 1200px), (min-height: 1400px){
	#container{
		width: 50%;
		margin: 0 auto;
		color: white;
	}
	.name{
		font-size: 2rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-weight: 400;
		text-align: center;
	}
	.content{
		font-size: 1rem;
		text-indent: 2rem;
		margin-bottom: 1rem;
	}
}

.timeTag{
	text-indent: 2rem;
	font-size: 1rem;
	margin-bottom: 10rem;
	margin-top: 2rem;
}

#toTop{
	position: fixed;
	bottom: 3rem;
	right: 2rem;
	font-size: 4rem;
	color: white;
	font-weight: 900;
	display: none;
	cursor: pointer;
}