*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background: #333333;
    font-family: Microsoft Yahei;
}
/* for mobile */
@media (max-width: 1200px) and (max-height: 1400px){
	#container{
		width: 90%;
		margin: 1rem auto;
	}
	#homeBtn{
		display: none;
	}
}
@media (min-width: 1200px), (min-height: 1400px){
	#container{
		width: 50%;
		margin: 0 auto;
		padding: 2rem;
	}
	a:hover{
		font-weight: 900;
	}
	#homeBtn{
		position: fixed;
		color: #333333;
		top: 5%;
		left: 5%;
		font-weight: 900;
	}
	#homeBtn span{
		width: 5rem;
		height: 5rem;
		font-size: 4rem;
		display: block;
		text-align: center;
		line-height: 5rem;
		background: white;
		border-radius: 2.5rem;
		border-color: #333333;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
	}
}
.pageHeader{
	font-size: 3rem;
	color: white;
}
.articleList{
	margin-top: 2rem;
}
a{
	text-decoration: none;
	color: white;
	transition: all 0.2s ease-in-out;
}
.title{
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
