*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    overflow:hidden;
}
#container{
    position: relative;
    top: 0;
}

.section{
    background: #333333;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.intro1{
    position: absolute;
    left: 50%;
    margin-left: -17%;
    text-align: center;
    background: white;
    color: #333333;
    z-index: 2;
    user-select: none;
}
.intro2{
    border: 0 solid white;
    position: absolute;
    left: 50%;
    margin-left: -22%;
    z-index: 1;
    color: white;
    text-align: center;
    user-select: none;
}
.downArrow{
    position: absolute;
    bottom: 1%;
    left: 50%;
    animation: toDown 1s ease-in-out infinite;
}
@keyframes toDown{
    50%{
        bottom: 2%;
    }
}
.meIcon{
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 0 solid white;
}
.meIcon:hover img{
    transform: ratate(360deg);
    -webkit-transform: rotate(360deg);
}
.meIcon img{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.textDiv{
    margin: 0 auto;
    border-top: 0 solid white;
}
.typeP{
    color: white;
    word-wrap:break-word;
    text-align: center;
    user-select: none;
}
@keyframes tail{
    50%{
        opacity: 0;
    }
}
.tail{
    font-weight: 900;
    animation: tail 0.5s infinite;
}

.rotateLink{
    display: block;
    margin: 0 auto;
    transform: rotate(45deg);
    background: white;
    color: #333333;
}
.rotateLink p{
    text-align: center;
    transform:rotate(-45deg);
    font-weight: 800;
    position: relative;
    overflow: hidden;
}
.rotateLink p:after{
    content: "";
    width: 0;
    height: 3%;
    background: #333333;
    position: absolute;
    top: 70%;
    left: 50%;
    transition:  all 0.5s;
}
.rotateLink p:hover:after{
    left: 0;
    width: 100%;
}
#showPic{
    position: relative;
    margin:0 auto;
    z-index: 10;
}
.arrow{
    position: absolute;
    width: 5%;
    height: 10%;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
@keyframes leftMove{
    50%{
        left: -13%;
    }
}
@keyframes rightMove{
    50%{
        right: -13%;
    }
}
.leftArrow{
    left: -10%;
    animation: leftMove 1s infinite;
}
.rightArrow{
    right: -10%;
    animation: rightMove 1s infinite;   
}
.picItem{
    height: 100%;
    width: 100%;
    display: none;
    cursor: pointer;
    /* transition: all 1s ease-in-out; */
}

#bottomTag{
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 1.5rem;
}

#contactBar{
    position: fixed;
    top: 50%;
    z-index: 20;
}
#contactDetail{
    z-index: 10;
    position: absolute;
}
#contactHint{
    z-index: 10;
    position: absolute;
}
.openContact{
    background: url("../pic/add.png") no-repeat;
}
.closeContact{
    background: url("../pic/close.png") no-repeat;
}
.contact{
    display: block;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; 
}
.contact:hover{
    transform: ratate(-360deg) scale(1.5);
    -webkit-transform: rotate(-360deg) scale(1.5);
}
.contact_git{
    background: url("../pic/gitIcon.png") no-repeat;
}
.contact_linkedIn{
    background: url("../pic/linkedInIcon.png") no-repeat;   
}
.contact_email{
    background: url("../pic/emailIcon.png") no-repeat;      
}
#navBar{
    width: 100px;
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translate( 0, -50% );
    z-index: 20;
}
a{
    text-decoration: none;
    color: #333333;
    
}